<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bwsystemssolutions.controlediabetes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalcularBolus"
            android:label="@string/title_calcular_bolus"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegistrosActivity"
            android:label="@string/title_registros"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BolusCalculateConfig"
            android:label="@string/title_blocos_de_tempo"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TimeBlockConfigActivity"
            android:label="@string/title_bloco_de_tempo"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RecordDetailActivity"
            android:label="@string/title_registro"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_eventos"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_configuracao"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GlucoseActivity"
            android:label="@string/title_glicemias"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>
    </application>

</manifest>